@import '../fonts/fonts.css';
.html {
  font-size: 14px;
}

.page {
  min-width: 320px;
  font-family: "Roboto";
  margin: 0 auto;
}

.container {
  width: 91.6666666667%;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.link_hover_arrow {
  display: flex;
}

.link_hover_arrow:after {
  display: block;
  content: "";
  background: url(../images/link-arrow.svg) 50% 50% repeat-y;
  width: 20px;
  height: 16px;
  margin: auto 0 auto 12px;
  background-size: 100%;
  transition: all 0.3s ease-in-out;
}

.link_hover_arrow:hover:after {
  margin-left: 17px;
}

.hero {
  min-height: 660px;
  padding: 32px 0 65px;
  background: url(../images/hero-background.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.hero__title {
  font-size: 4.2rem;
  line-height: 1.19;
  letter-spacing: 1.8px;
  color: #fff;
  max-width: 29.6527777778%;
  padding-bottom: 138px;
  border-bottom: 1px solid #fff;
  margin: 0;
}

.hero__links {
  margin-top: 21.5px;
}

.hero__link {
  font-size: 1.36rem;
  line-height: 1.26;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header {
  display: flex;
  justify-content: space-between;
}

.hero__content {
  padding-top: 127px;
}

.logo {
  display: block;
  background-size: contain;
  opacity: 1;
  transition: all 0.3s;
}

.logo:hover {
  opacity: 0.6;
}

.header__logo {
  background: url(../images/logo-header.svg);
  width: 57px;
  height: 36px;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__link {
  position: relative;
}

.header__link:after {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  width: 0;
  height: 1px;
  background-color: #fff;
  margin-left: 5px;
  transition: all 0.3s;
}

.header__link:hover:after {
  width: 20px;
}

.cards {
  min-height: 729px;
  display: flex;
}

.cards__link {
  text-decoration: none;
  width: 33.3333333333%;
}

.card {
  width: 100%;
  height: 100%;
  padding: 58px 0 63px;
  max-height: 729px;
  box-sizing: border-box;
  transition: all 0.3s;
}

.card:hover {
  opacity: 0.8;
}

.card__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
  margin: 0 auto;
}

.card__title {
  font-size: 2.8rem;
  line-height: 1.23;
  color: #fff;
  padding-bottom: 34px;
  border-bottom: 1px solid #fff;
}

.card__image {
  max-width: 100%;
  max-height: 427px;
  object-fit: contain;
  object-position: center;
  margin: 0 auto;
}

.cards__link:nth-of-type(1) .card__image {
  max-width: 250px;
}

.card__text {
  display: flex;
  color: #fff;
  margin: 0;
  font-size: 1.43rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.card__text:after {
  display: block;
  content: "";
  background: url(../images/link-arrow.svg) 50% 50% no-repeat;
  width: 14px;
  height: 14px;
  margin-left: 7px;
  background-size: 100%;
  transition: all 0.3s ease-in-out;
}

.card:hover .card__text:after {
  margin-left: 10px;
}

.future {
  display: flex;
  min-height: 650px;
  padding: 58px 0 65px;
  background: url(../images/future-background.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.future__container {
  display: flex;
  flex-direction: column;
}

.future__title {
  font-size: 2.8rem;
  line-height: 1.23;
  color: #fff;
  max-width: 29.6527777778%;
  padding-bottom: 34px;
  border-bottom: 1px solid #fff;
}

.future__description {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.33;
  max-width: 337px;
}

.future__link {
  margin: auto 0 0 0;
  font-size: 1.43rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.footer {
  padding: 58px 0 47px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  background: url(../images/logo-footer.svg);
  margin-right: 61px;
  width: 51px;
  height: 32px;
}

.footer__copyright {
  width: 203px;
  padding: 0;
  margin: 0 355px 0 0;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: #858585;
}

.footer__links {
  width: 203px;
  margin-right: 20px;
}

.footer__list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.footer__link {
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: #858585;
  transition: all 0.3s;
}

.footer__link:hover {
  color: #000;
}

.footer__info {
  width: 426px;
  display: flex;
  flex-direction: column;
}

.footer__form {
  position: relative;
  margin-top: 20px;
}

.footer__email {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #858585;
  padding: 5.5px;
}

.footer__submit-button {
  width: 16px;
  height: 13px;
  position: absolute;
  border: 0;
  outline: 0;
  background: url(../images/form-link-arrow.svg) 50% 50% no-repeat;
  top: 0;
  right: 0;
}

/*# sourceMappingURL=home.css.map */
